* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
.centered {
    position: fixed; /* or absolute */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 640px;
    width: 100%;
    padding: 20px;
}
.logo {
    max-width: 100%;
}