* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #444;
}

.centered {
    position: fixed; /* or absolute */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 100%;
    padding: 20px;
}

.logo {
    max-width: 100%;
}

ul.contact {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    list-style-type: none;
}

ul.contact li {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

ul.contact li:last-child {
    margin-bottom: 0;
}

ul.contact li i.icon {
    margin-right: 8px;
}

i.icon {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    background: transparent url('../images/sprite.svg') no-repeat top left;
    background-size: 24px 72px;
    overflow: hidden;
}

i.icon.is-phone {
    background-position: 0 0;
}

i.icon.is-email {
    background-position: 0 -24px;
}

i.icon.is-website {
    background-position: 0 -48px;
}

.mailto:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}

@media only screen and (min-width: 400px) {
    ul.contact {
        padding: 20px 0;
        text-align: center;
    }
    ul.contact li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
        text-align: center;
    }
    ul.contact li:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px) {
    ul.contact {
        padding: 20px;
        text-align: left;
    }
}
@media only screen and (min-width: 960px) {
    .centered {
        max-width: 640px;
    }
}